.container {
    width: 100%;
    height: auto;
}

.title {
    display: flex;
    justify-content: center;
    background: red;
    background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-horizontal {
    display: flex;
    justify-content: center;
    align-items: center
}

.container-inputs {
    margin: 20px
}

.container-inputs2 {
    margin: 20px;
    padding-left: 17px;
}

.container-inputs3 {
    margin: 20px
}

.starting-image {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed
}

body.container {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-image: url("Background.jpg")
}

.form {
    background-color: rgb(38, 157, 178);
    color: rgb(41, 55, 57)
}

.weatherForecastF-container {
    display: flex;
    justify-content: center;
    color: rgb(143, 216, 229);

}

.cloudForecast-container {
    display: flex;
    justify-content: center;
    color: rgb(143, 216, 229)
}

.zipcode {
    width: 100%;
    padding: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.country {
    width: 100%;
    padding: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.border-bottom-input {
    border: 0;
    border-bottom: 1px solid #eee;
}

input[type=text] {
    padding: 10px;
    border: 0;
    margin: 10px 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    text-align: center;
}

button {
    appearance: none;
    padding: 10px 24px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: auto;
    height: 55px;

}